[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
ddt = "==1.0.1"
"nose2" = "==0.6.3"
"ruamel.yaml" = "==0.11.7"
todoist-python = "==0.2.23"
jsonschema = "==2.5.1"

[requires]
python_version = "3.6"
